  .MyWords {

    &__elem {
      flex-grow: 1;
      border: 1px solid black;
      padding: 8px;
    }

    &__elemMainWord {
      margin: 3px 0px 10px 0px;
      text-align: center;
      font-size: 26px;
      font-weight: bold;
    }

    &__elemTranslateRow {
      display: flex;
      justify-content: space-between;
    }

    &__elemTranslateWord {
      font-size: 20px;
      font-style: italic;
      display: inline;
    }

    &__elemTranslateLanguage {
      font-size: 8px;
      display: inline;
    }

    &__elemAppendButton {
      cursor: pointer;
      color: rgb(216, 93, 93);
      width: 14px;
      height: 14px;
      transition: 0.3s all ease;

      &:hover {
        transform: scale(2);
        color: rgb(228, 25, 25);
      }
    }

  }