  .MyWords {

    &__elem {
      border: 1px solid black;
      padding: 8px;
    }

    &__elemMainWord {
      font-size: 26px;
      font-weight: bold;
    }

    &__elemTranslateWord {
      font-size: 20px;
      font-style: italic;
      display: inline;
    }

    &__elemTranslateLanguage {
      font-size: 8px;
      display: inline;
    }

  }