.Nav {
  background-color: rgb(38, 45, 110);
  max-width: 170px;
  transition: 0.3s all ease;

  &_closed {
    max-width: 60px;
  }

  @media(max-width:550px) {
    max-width: 60px;
  }

  a {
    text-decoration: none;
  }

  &__body {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__trigger {
    color: rgba(255, 255, 255, 0.5);
    transition: 1s all ease;
    cursor: pointer;
    transform: rotateY(180deg);

    &:hover {
      color: white;
    }

    &_closed {
      transform: rotateY(0deg);
    }

  }

}