  .MyWords {

    &__elemTranslateRow {
      margin-top: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__elemTranslateWord {
      cursor: pointer;
      font-size: 20px;
      font-style: italic;
      display: inline;
      transition: 0.2s all ease;

      &:hover {
        color: rgb(228, 63, 206);
      }

      &_gameword {
        font-weight: bold;
        color: rgb(228, 63, 206);
      }

    }

    &__elemDeleteButton {
      cursor: pointer;
      width: 25px;
      height: 25px;
      margin-left: 15px;
      transition: 0.5s all ease;
      color: rgba(168, 168, 168, 0.644);
      border-radius: 30%;

      &:hover {
        transform: scale(1.2);
        color: rgb(228, 25, 25);
      }
    }

  }