.Learn {

  &__gameElem {
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__gameTitle {
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
  }

  &__gameDescription {
    font-size: 1.3em;
  }

  &__gameStartButton {
    cursor: pointer;
    width: 135px;
    height: 65px;
    background-color: green;
    border-radius: 7px;
    color: whitesmoke;
    border: 2px rgb(8, 102, 21) solid;
    margin: 15px 0px 15px 0px;
  }

}