.DeepSearch {

  &__resultColumn {
    border: 1px solid black;
    min-width: 200px;
    padding: 8px;
    flex-grow: 1;
  }

  &__resultColumnPos {
    display: flex;
    justify-content: center;
  }

}