.DeepSearch {

  &__resultColumn {
    background-color: #fff;
    border-radius: 15px;
    padding: 12px;
    min-width: 200px;
    flex-grow: 1;
  }

  &__resultColumnPos {
    font-size: 16px;
    font-style: italic;
    margin: 7px 0px 15px 0px;
    display: flex;
    justify-content: center;
  }

}