.NavSearch {
  max-width: 85%;
  padding: 7px 10px 0px 10px;

  input {
    width: 100%;
    padding: 7px 0px;
    text-align: center;
  }

  &__languages {
    color: white;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__languagesListTrigger {
    display: flex;
    justify-content: center;
    transform: rotate(90deg);
    transition: 0.6s all ease;
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      color: white;
    }

    &_opened {
      transform: rotate(90deg) rotateY(180deg);
    }
  }

  &__selectedLanguage {
    margin: 7px 0px 3px 0px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__languagesList {
    max-height: 100%;
    font-size: 11px;
    text-transform: uppercase;
    font-style: italic;
    max-height: 0px;
    transition: 1s all ease;

    &_opened {
      max-height: 500px;
    }
  }

  &__languageListElem {
    margin: 2px 0px 2px 0px;
  }

}