.Nav {
  background-color: rgb(38, 45, 110);
  grid-area: Nav;

  a {
    text-decoration: none;
  }

  &__body {
    height: 100%;
    width: 100%;
  }

  &__elem {
    padding: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 1s ease;
  }

  &__elem:hover {
    background-color: red;
  }


  &__search {
    width: 85%;
    margin-left: 2px;
    padding: 5px;
  }


  &__elemicon {
    color: rgba(107, 28, 211, 0.767);
  }

  &__elemtext {
    font-size: 14px;
    margin-left: 10px;
    color: white;
  }
}