.Nav {
  background-color: rgb(38, 45, 110);
  grid-area: Nav;

  a {
    text-decoration: none;
  }

  &__body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .User {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 170px;

    &__photo {
      height: 65px;
      width: 65px;
      border-radius: 50%;
      border: 3px solid white;
    }

    &__name {
      margin-top: 7px;
      color: white;
    }

  }

  &__elem {
    padding: 7px 0px 6px 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 1s ease;
  }

  &__elem:hover {
    background-color: red;
  }


  &__search {
    width: 82%;
    margin-left: 2px;
    padding: 5px;
  }


  &__elemicon {
    color: rgba(255, 255, 255, 0.767);
  }

  &__elemtext {
    font-size: 14px;
    margin-left: 10px;
    color: white;
  }

}