.GuessTranslateGame {
  display: flex;
  justify-content: center;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__getNewWordButton {}

  &__gameword {
    font-size: 5vw;
  }

  &__translate {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 0vw 2vw 0vw;
  }

  &__translateLetterBox {
    margin-left: 1vw;
    width: 5vw;
    height: 6vw;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 2px solid black;
    border-radius: 3px;
  }

  &__translateLetter {
    color: white;
    text-transform: capitalize;
    font-size: 3vw;
  }

  &__input {
    width: 45vw;
    height: 10vw;
    font-size: 6vw;
    text-align: center;
  }

  &__endGameButton {
    margin-top: 1vw;
    width: 55%;
    height: 8vh;
    font-size: 4vw;
    background-color: red;
    border-radius: 3px;
    color: white;
    border: none;
    font-weight: bold;
  }

}