.GuessTranslateGame {
  display: flex;
  justify-content: center;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__inputMenu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__input {
    width: 60vw;
    height: 10vw;
    font-size: 6vw;
    text-align: center;
    text-transform: uppercase;
  }

  &__resultGameIcon {
    width: 4vw;
    height: 4vw;
  }

  &__topButtons {
    display: flex;
  }

  &__topButtonsElem {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 17vw;
    transition: 0.4s all ease;
    color: #1db100;


    &:hover {
      color: #00fc00
    }
  }

  &__gameword {
    font-size: 5vw;
  }

  &__translate {
    display: flex;
    flex-wrap: wrap;
    margin: 2vw 0vw 2vw 0vw;
  }

  &__translateLetterBox {
    margin-left: 1vw;
    width: 5vw;
    height: 6vw;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 2px solid black;
    border-radius: 3px;
  }

  &__translateLetter {
    color: white;
    text-transform: uppercase;
    font-size: 3vw;
  }

  &__endGameButton {
    margin-top: 1vw;
    width: 55%;
    height: 8vh;
    font-size: 4vw;
    background-color: red;
    border-radius: 3px;
    color: white;
    border: none;
    font-weight: bold;
  }

}