.DeepSearch {

  &__resultRow {
    display: flex;
    justify-content: space-between;
  }

  &__resultRowAppendButton {
    margin-left: 5px;
    width: 25px;
    height: 15px;
    background-color: green;
  }

}