.DeepSearch {

  &__resultRow {
    display: flex;
    justify-content: space-between;
  }

  &__resultRowMainWord {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__resultRowFrequency {
    margin-bottom: 5px;
  }

  &__resultRowSynonymsList {
    margin-bottom: 5px;
  }

  &__resultRowSynonymsListElem {
    font-style: italic;
    font-size: 13px;
  }

  &__resultRowSameWordsList {
    margin-bottom: 5px;
  }

  &__resultRowSameWordsListElem {
    font-style: italic;
    font-size: 13px;
  }

  &__resultRowExamplesList {}

  &__resultRowExamplesListElem {
    font-style: italic;
    font-size: 13px;
  }

  &__resultRowAppendButton {
    width: 28px;
    height: 28px;
    color: rgba(168, 168, 168, 0.644);
    transition: 0.6s all ease;
    border-radius: 30%;

    &_appended {
      color: rgb(0, 252, 0);
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      color: rgb(0, 252, 0);
    }

    &_playbase {
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        color: rgb(228, 63, 206);
      }
    }

    &_playbaseAppended {
      &:hover {
        color: rgb(228, 36, 36);
        transform: scale(0.7);
      }

      color: rgb(228, 63, 206)
    }
  }

}