.DeepSearch {

  &__resultRow {
    display: flex;
    justify-content: space-between;
  }

  &__resultRowMainWord {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  &__resultRowFrequency {
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__resultRowSynonymsList {
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__resultRowSynonymsListElem {
    font-style: italic;
    font-size: 14px;
  }

  &__resultRowSameWordsList {
    font-size: 16px;
    margin-bottom: 8px;
  }

  &__resultRowSameWordsListElem {
    font-size: 14px;
    font-style: italic;
    transition: 0.3s all ease;

    &:hover {
      cursor: pointer;
      color: rgb(228, 63, 206);
      transform: scale(1.03);
    }
  }

  &__resultRowExamplesList {
    font-size: 16px;
  }

  &__resultRowExamplesListElem {
    font-style: italic;
    font-size: 14px;
  }

  &__resultRowButtonMenu {
    display: flex;
    flex-direction: column;
  }

  &__resultRowAppendButton {
    width: 28px;
    height: 28px;
    color: rgba(168, 168, 168, 0.644);
    transition: 0.6s all ease;
    border-radius: 30%;

    &_translate {
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        color: rgb(0, 252, 0);
      }
    }

    &_translateAppended {
      &:hover {
        cursor: pointer;
        color: rgb(228, 36, 36);
        transform: scale(0.85);
      }

      color: rgb(0, 252, 0);
    }

    &_playbase {
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        color: rgb(228, 63, 206);
      }
    }

    &_playbaseAppended {
      &:hover {
        cursor: pointer;
        color: rgb(228, 36, 36);
        transform: scale(0.85);
      }

      color: rgb(228, 63, 206)
    }
  }

}