  .MyWords {

    &__elemMainWord {
      cursor: pointer;
      margin-bottom: 10px;
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      transition: 0.2s all ease;

      &:hover {
        color: rgb(245, 0, 184);
        transform: scale(1, 1.1);
      }

    }

    &__elemTranslateLanguage {
      font-size: 8px;
      display: inline;
      font-weight: normal;
    }

  }