@mixin alignedByFlex {
  display: flex;
  justify-content: center;
}

@mixin columnedByFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  &__body {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(60px, max-content) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'Nav Dashboard'
      'Nav Dashboard'
      'Nav Dashboard';
  }
}