.NavUser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;

  &__photo {
    min-height: 38px;
    min-width: 38px;
    border-radius: 50%;
    border: 2px solid white;
    transition: 0.3s all ease;

    &:hover {
      background-color: rgb(160, 0, 0);
    }
  }

  &__name {
    font-size: 14px;
    color: white;
    position: absolute;
  }

}