.NavUser {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 15px;

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    height: 45px;
    color: white;
  }

  &__logInButton {
    border: none;
    min-width: 45px;
    font-style: italic;
    background-color: rgb(131, 160, 255);
    color: white;
  }

}