.Profile {

  &__data {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    padding: 25px;

    img {
      width: 215px;
      height: 215px;
      border-radius: 50%;
    }

    @media(max-width:550px) {
      align-items: center;
    }
  }

}