.DeepSearch {

  &__mainword {
    border-radius: 15px;
    background-color: #fff;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    font-size: 38px;
    font-weight: bold;
  }

  &__results {
    color: black;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    min-height: 88vh;
  }

  &__noresultstext {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
    font-style: italic;
    font-size: 25px;
  }

}