.DeepSearch {

  &__results {
    color: black;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    min-height: 97vh;
  }

  &__noresultstext {
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
    font-style: italic;
    font-size: 25px;
  }

}