.Dashboard {
  background-color: rgb(142, 177, 253);
  padding: 15px;

  &__GoTopButton {
    position: fixed;
    cursor: pointer;
    bottom: 0.5%;
    right: 1%;
    border: 2px solid white;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.815);
  }

}